body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 2em auto;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

.project {
    background: #fff;
    padding: 1em;
    margin: 1em 0;
    border: 1px solid #ccc;
}

#contact-form label {
    display: block;
    margin: 0.5em 0 0.2em;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
}

#contact-form button {
    background: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

#contact-form button:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social_heading
{
    display: inline;
}

.social-links {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: space-around; /* Space items evenly */
    align-items: center; /* Center items vertically */
}

.social-links a {
    text-align: center; /* Center text within each link */
    margin: 0 10px; /* Add some margin between each link */
}